### use # to comment out the configure item

################ Datasets(Input/Output) ################
workspace=/pronas/widm_share/widmserver5/luff543/BERT-event-information-extractor/
bert_workspace=/pronas/widm_share/widmserver5/luff543/BERT/chinese_L-12_H-768_A-12/
datasets_fold=data/EventRecognition
log_dir=logs
output_dir=output

################ Model Configuration ################
max_sequence_length=202
# int, cautions! set as a LARGE number as possible,
# this will be kept during training and inferring, text having length larger than this will be truncated.

CUDA_VISIBLE_DEVICES=1
# coincides with tf.CUDA_VISIBLE_DEVICES

################ Training Settings ###
epoch=30
batch_size=32

model_fold=model